@import "~react-image-gallery/styles/css/image-gallery.css";

.mod-details-container {
    width: 80vw;
    margin: auto;
    padding-top: 20px;
}

.home-page-link {
    color: inherit;
}

.mod-gallery-container .image-gallery-image {
    max-height: 50vh !important;
}

.mod-details-headline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mod-details-headline-container h1 {
    margin: 0;
    padding: 10px 0;
}

.mod-details {
    display: grid;
    margin-top: 20px;
}

.mod-owner {
    color: inherit;
    text-decoration: none;
}

.tag-list span {
    padding: 10px 20px;
    background: #c9d1d9;
    color: #111;
    margin-right: 10px;
    border-radius: 20px;
}